[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.41"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
